body{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background-attachment: fixed;
margin: 0;
font-family: 'Poppins', sans-serif;
}
#form{
  width: 325px;
  margin: 7.5vh auto 0 auto;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 30px;
}
h1{
  text-align: center;
  color:rgb(103, 163, 231) ;
}
#form button{
  background-color: rgb(103, 163, 231);
  color: white;
  border: 1px solid rgb(103, 163, 231);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: 90%;
}
label{
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}
.input-group{
  display: flex;
  flex-direction: column ;
  margin-bottom: 15px ;
}
.input-group input{
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgb(218, 128, 167);
}
.input-group input:focus{
  outline: 0;
}
.input.error{
  color: rgb(242, 18, 18);
  font-size: 16px;
  margin-top: 5px;
}
.input-group.success input{
border-color: #0cc477 ;
}
.input-group.error input{
  border-color: rgb(206, 67, 67) ;
  }
